.card {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-image: url("../../../../assests/auth-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.text-center {
  opacity: 0.9;
}

.flex-box {
  opacity: 1;
}
