/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

body {
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assests/patanjaLI-BANNER.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
}
