nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.custom-navbar {
  background-color: aqua;
  color: black; /* Text color */

  width: 100%;
  z-index: 1000;
}

ul {
  opacity: 1;
  //font-weight: 900; /* Extra bold */
  gap: 50px;
}

li {
  opacity: 1;
  color: black;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

i {
  font-size: 24px;
  color: black;
  margin-right: 5px;
}

button {
  cursor: pointer;
}
